<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.merchantapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.ajubamerchant.classes.Hilt"
        android:allowBackup="true"
        android:icon="@mipmap/g_foreground"
        android:label="@string/app_name"

        android:supportsRtl="true"
        android:theme="@style/Theme.MerchantApp"
        android:usesCleartextTraffic="true">

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CheckOrdersActivity">

        </activity>
        <activity android:name=".FoodActivity" />
        <activity android:name=".FoodListActivity" />
        <activity android:name=".OrderPanelActivity" />
        <activity
            android:name=".MainActActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MerchantApp.NoActionBar" />

        <service android:name=".classes.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".classes.CustomMessagingService"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"
                    />

            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel" />
        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="AjubaRider_notification_id"/>-->
    </application>

</manifest>